@import '01-inits/colors';
@import '01-inits/sizes';
@import '01-inits/reset';
@import '01-inits/fonts';
@import '01-inits/headings';
@import '01-inits/pages';
@import 'anims/anims';






img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.pageTitle {
  opacity: 0;
  animation: pageTitleAnim 0.8s forwards;

}



html, body {
  width: 100vw;
  overflow-x: hidden;
}


@keyframes pageTitleAnim {
  from {
    transform: translateY(120%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
