---
import Citation from "@components/Citation.astro";
import GetInTouch from "@components/GetInTouch.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
import TextImageColumns from "@components/TextImageColumns.astro";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

const heroProps = {
  title: "ABOUT ME",
  lead: "GET TO KNOW ME",
  description: `Hi, I’m Anais, <span> Art Director, Brand & UX/UI designer based in Bordeaux</span><br/><br/> 3rd year student at <span> MMI Bordeaux </span>, <br> I also am LinkedIn <span> Content Manager @ Abby</span>.<br><br> Feel free to <span> contact me </span> for freelance work !`,
  line: false,
  size: "small",
};
const citation = "CREATIVITY PAIRED WITH GUIDANCE CREATES THE BEST ART.";
const data = {
  title: "My vision",
  texts: [
    "Beauty is in everything.",
    "I have always been into art and design, whether it be photography, music, fashion or magazines.",
    "As a designer, my goal is to help brands reach their full potential with designs curated for them.",
    "I am passionate about creating designs that are not only aesthetically pleasing but also serve a purpose.",
  ],
  img: {
    src: "/images/profile.png",
    alt: "profile picture",
  },
};
---

<DefaultLayout back="/" page="about" pageTitle="About me">
  <Hero {...heroProps} />
  <TextImageColumns {...data} />
  <Citation text={citation} />
  <Skills />
  <GetInTouch />
</DefaultLayout>
