---
import Citation from "@components/Citation.astro";
import GetInTouch from "@components/GetInTouch.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
import TextImageColumns from "@components/TextImageColumns.astro";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

const heroProps = {
  title: "ABOUT ME",
  lead: "GET TO KNOW ME",
  description: `Hi, I’m Anais,<span> a brand & UX/UI designer</span> based in Bordeaux.<br> Currently in my second year at<span> MMI Bordeaux</span>.<br><br>I am looking for a <span>3 month internship </span>starting in <span>April</span>, as well as an<span> apprenticeship for September 2023. </span>`,
};
const citation = "CREATIVITY PAIRED WITH GUIDANCE CREATES THE BEST ART.";
---

<DefaultLayout>
  <Hero {...heroProps} />
  <TextImageColumns />
  <Citation text={citation} />
  <Skills />
  <GetInTouch />
</DefaultLayout>
