---
import Citation from "@components/Citation.astro";
import GetInTouch from "@components/GetInTouch.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
import TextImageColumns from "@components/TextImageColumns.astro";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

const heroProps = {
  title: "ABOUT ME",
  lead: "GET TO KNOW ME",
  description: `Hi, I’m Anais, <span> Art Director, Brand & UX/UI designer based in Bordeaux</span><br/><br/> 3rd year student at <span> MMI Bordeaux </span>, <br> I also am LinkedIn <span> Content Manager @ Abby</span>.<br><br> Feel free to <span> contact me </span> for freelance work !`,
  line: false,
  size: "small",
};
const citation = "CREATIVITY PAIRED WITH GUIDANCE CREATES THE BEST ART.";
---

<DefaultLayout back="/" page="about" pageTitle="About me">
  <Hero {...heroProps} />
  <TextImageColumns />
  <Citation text={citation} />
  <Skills />
  <GetInTouch />
</DefaultLayout>
