---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a href={href} class="button"><slot /></a>

<style lang="scss">
  @import "../stylesheet/main.scss";

  .button {
    padding: 0.9rem;
    border: 1px solid;
    border-radius: 200px;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
  }
</style>
