---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="container-small">
  <p is-inview="fromB">{text}</p>
</div>

<style lang="scss">
  .container-small {
    margin: 8rem 0;
  }
  @import "../stylesheet/main.scss";

  p {
    font-family: $font_ninna;
    font-size: 1.8rem;
  }
</style>
