---
---

<footer class="">
  <div class="footer container-small line">
    <div class="left-section column">
      <p class="italic">
        CREATIVITY PAIRED WITH GUIDANCE CREATES THE BEST ART.
      </p>
      <div>
        <a
          href="https://www.linkedin.com/in/anais-akkouche-402a00219/"
          class="anim"><span>↗</span>LinkedIn</a
        >
        <a href="https://www.behance.net/anaisakkouche" class="anim"
          ><span>↗</span>Behance</a
        >
      </div>
    </div>

    <div class="column maj medium">
      <a href="/about" class="anim">about</a>
      <a href="/works" class="anim">projects</a>
      <a href="/#contact" id="actionContact" class="anim" contact>contact me</a>
    </div>

    <div class="column medium">
      <a href="tel:+33601204712" class="anim">+33 6 01 20 47 12</a>
      <a class="maj" href="">Bordeaux</a>
      <a href="mailto:anais.akkouche03@gmail.com" class="anim"
        >anais.akkouche03@gmail.com</a
      >
    </div>
  </div>
</footer>

<script></script>

<style lang="scss">
  @import "../stylesheet/main.scss";
  .maj {
    text-transform: uppercase;
  }
  .anim {
    width: fit-content;
  }
  footer {
    backdrop-filter: blur(5px);
  }
  .line {
    border-top: 1px solid;
  }
  .footer {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    padding: 8rem 0 6rem 0;
    @media (max-width: $to_medium) {
      flex-direction: column;
      gap: 2rem;
    }

    .left-section {
      max-width: 44%;
      a {
        display: inline;
        font-weight: 300;
        &:last-of-type {
          margin-left: 1rem;
        }
      }
      span {
        font-family: $font_medium;
        font-size: 1.4em;
        margin-right: 4px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 18vh;
    }
  }
</style>
