---
const { title, lead, description, line } = Astro.props;
---

<section class="container-small">
  <div class="hero">
    <article>
      <h1 class="pageTitle" set:html={title} data-delay="0.1" />
      <p class="pageTitle" data-delay="0.3">
        {lead}
      </p>
      <p
        class="pageTitle stylable description"
        data-delay="0.3"
        set:html={description}
      />
    </article>

    {line && <div class="v-trait" />}
    <slot />
  </div>
</section>
<style lang="scss">
  @import "../stylesheet/main.scss";

  .hero {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
    p {
      margin-top: 2rem;
      font-weight: 300;
    }
    .description {
      max-width: 60%;
      @media screen and (max-width: $to-tiny) {
        max-width: 80%;
      }
      margin-left: auto;
      margin-right: auto;
    }
    .pannel {
      height: 100vh;
      background-color: aliceblue;
    }
    .v-trait {
      height: 3rem;
      width: 1px;
      background-color: $color_dark;
      transform: translateY(30%);
      margin: 0 auto;
    }
  }
</style>
