<section class="container-small">
  <div class="hero">
    <article>
      <h1>BRAND & UX/UI <br /> DESIGNER</h1>
      <p>
        CRAFTING VISUAL STORIES AND ELEVATING BRANDS THROUGH INNOVATIVE DESIGNS
      </p>
    </article>
    <div class="v-trait"></div>
  </div>
</section>
<style lang="scss">
  @import "../stylesheet/main.scss";

  .hero {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;
    p {
      margin-top: 5rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    .pannel {
      height: 100vh;
      background-color: aliceblue;
    }
    .v-trait {
      height: 3rem;
      width: 1px;
      background-color: $color_dark;
      transform: translateY(30%);
      margin: 0 auto;
    }
  }
</style>
