---
interface Props {
  text: string;
  title?: string;
}

const { text, title } = Astro.props;
---

<section class="container-small">
  <h2 is-inview="fromB">{title}</h2>
  <p set:html={text} is-inview="fromB" />
</section>

<style lang="scss">
  @import "../stylesheet/main.scss";

  .container-small {
    margin-top: 6rem;
    line-height: 1.4rem;
    font-weight: 300;

    h2 {
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-family: $font_medium;
    }
  }
</style>
