---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="bandeau">
  {tags.map((tag) => <p>{tag}</p>)}
</div>

<style lang="scss">
  @import "../stylesheet/main.scss";

  .bandeau {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 100%;
    padding: 0.6rem 3rem;
    border-radius: 120px;
    @media (max-width: $to-medium) {
      border-radius: 80px;
      gap: 2rem;
    }
    border: 1px solid;
    flex-wrap: wrap;
    p {
      text-transform: uppercase;
      font-family: $font_ninna;
    }
  }
</style>
