---
const { left, right } = Astro.props;
---

<div class="container-small">
  <p set:html={left} is-inview="fromB" />
  <p set:html={right} is-inview="fromB" />
</div>

<style lang="scss">
  @import "../stylesheet/main.scss";
  .container-small {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    @media (max-width: $to_small) {
      grid-template-columns: 1fr;
    }
    font-weight: 300;
  }
</style>
