---
interface Props {
  title?: string;
  text: string;
  imgLeft?: boolean;
  img: {
    src: string;
    alt?: string;
  };
}
const { title, text, img, imgLeft } = Astro.props;
---

<section class="my-vision">
  <div class=`container-small ${imgLeft ? 'invert' : ''}`>
    <article class="column">
      {title && <h2 is-inview="fromB">{title}</h2>}

      <p set:html={text} is-inview="fromLowB" />
    </article>
    <div class="column">
      <div class="imgContainer" is-inview="fromLowB">
        <img src={img.src} alt={img.alt} srcset="" />
      </div>
    </div>
  </div>

  <style lang="scss">
    @import "../stylesheet/main.scss";

    .container-small {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10%;
      &.invert {
        flex-direction: row-reverse;
      }

      @media (max-width: $from_small) {
        flex-direction: column;
        align-items: flex-start;
      }
      padding-top: 10rem;

      .column {
        width: 50%;
        .imgContainer {
          width: 80%;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h2 {
          text-transform: uppercase;
          font-family: $font_text;
          font-size: 2rem;
        }
        p {
          font-weight: 300;
          margin-top: 2rem;
        }
      }
    }
  </style>
</section>
