html {
	font-size: $size_default;
	@media (max-width: $to_tiny) {
		font-size: $size_default;
	}
	@media (min-width: $from_tiny) and (max-width: $to_small) {
		font-size: $size_tiny;
	}
	@media (min-width: $from_small) and (max-width: $to_medium) {
		font-size: $size_small;
	}
	@media (min-width: $from_medium) and (max-width: $to_large) {
		font-size: $size_medium;
	}
	@media (min-width: $from_large) and (max-width: $to_big) {
		font-size: $size_large;
	}
	@media (min-width: $from_big) and (max-width: $to_huge) {
		font-size: $size_big;
	}
	@media (min-width: $from_huge) and (max-width: $to_enormous) {
		font-size: $size_huge;
	}
	@media (min-width: $from_enormous) and (max-width: $to_gigantic) {
		font-size: $size_enormous;
	}
	@media (min-width: $from_gigantic) and (max-width: $to_colossal) {
		font-size: $size_gigantic;
	}
	@media (min-width: $from_colossal) {
		font-size: $size_colossal;
	}
}

body {
	background: $color_background;
	font-family: $font_text;
}

.container {
	width: 90vw;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: $from_tiny) {
		max-width: 30rem;
	}

	@media (min-width: $from_small) {
		max-width: 96rem;
	}

	@media (min-width: $from_medium) {
		width: 94vw;
		max-width: 1700px;
	}

	@media (min-width: $from_gigantic) {
		max-width: 2300px;
	}
}

.container-small {
	width: 80vw;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: $from_tiny) {
		max-width: 30rem;
	}

	@media (min-width: $from_small) {
		max-width: 70rem;
	}

	@media (min-width: $from_medium) {
		width: 82vw;
		max-width: 1200px;
	}

	@media (min-width: $from_gigantic) {
		max-width: 1400px;
	}
}

main {
	position: relative;
	overflow: hidden;
}

section {
	position: relative;
	z-index: 1;
}

p.stylable {
  span {
    font-family: $font_italic;
    font-style: italic;
    font-weight: 400;
  }
}

.lightMode {

  background-color: $color_background;
  color: $color_dark;
  border-color: $color_dark;
}
.page {
  p, h1, h2, h3 {
    color: inherit;


  }
  * {
    border-color: inherit;
  }
}

.darkMode {


  background-color: $color_dark;
  color: $color_background;
  border-color: $color_background;
}
