$size_default: 16px;

$from_tiny: 500px;
$to_tiny: $from_tiny - 1;
$size_tiny: 3vw;

$from_small: 700px;
$to_small: $from_small - 1;
$size_small: 2.4vw;

$from_medium: 1000px;
$to_medium: $from_medium - 1;
$size_medium: 1.7vw;

$from_large: 1200px;
$to_large: $from_large - 1;
$size_large: 1.4vw;

$from_big: 1400px;
$to_big: $from_big - 1;
$size_big: 1.6vw;

$from_huge: 1600px;
$to_huge: $from_huge - 1;
$size_huge: 1.5vw;

$from_enormous: 1800px;
$to_enormous: $from_enormous - 1;
$size_enormous: 1.5vw;

$from_gigantic: 2000px;
$to_gigantic: $from_gigantic - 1;
$size_gigantic: 1.5vw;

$from_colossal: 2400px;
$to_colossal: $from_colossal - 1;
$size_colossal: 1.5vw;
