//texte underline from left to right animation
.anim{
  position: relative;
  padding: 5px 0;

}
$bezier: cubic-bezier(0.165, 0.84, 0.44, 1);
.anim::before{
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  border-top: 1px solid;
  position: absolute;
  bottom: 0px;
  transform-origin: right center;
  left: 0;

  transform: scaleX(0);
  transition: transform 0.6s $bezier;


}
.anim.light::before {
  background-color: $color_background;
}


.anim:hover::before{

  transform: scaleX(1);
  transform-origin: left center;
}


//aparition des éléments

[is-inview], [data-anim] {
  &.inview.fromB, &.anim.fromB {
    animation-name: fromB;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }
}

@keyframes fromB{
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
