---
import "../stylesheet/main.scss";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const { back, page = "index" } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anaïs Akkouche - Portfolio</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta
      name="description"
      content="Welcome to my website, discover me and my projects"
    />
    <meta name="author" content="Louis LASSERRE" />
    <meta
      property="og:description"
      content="See my portfolio to discover who I am"
    />
    <meta property="og:title" content="Designer Anaïs Akkouche" />
  </head>

  <body class="layout">
    <Header back={back} />
    <div class="my-container">
      <main class={`page ${page}`}>
        <div class="taches">
          <slot />
          <Footer />
        </div>
      </main>
    </div>
  </body>
</html>

<script>
  import { init } from "@utils/scroll/useScroll";
  import { redirect } from "@utils/scroll/redirect";

  const { gsap, ease1, ease2, asscroll } = init();

  function toggleClasses(elmt: HTMLElement) {
    const attribute = elmt.attributes["is-inview"].value;

    elmt.classList.add("inview", attribute);
  }

  window.addEventListener("load", () => {
    const totalScroll = asscroll.containerElement.scrollHeight - innerHeight;
    redirect(asscroll);

    gsap.to(".cadre", {
      scrollTrigger: {
        pin: false,
        scrub: 0.2,
        trigger: ".parallax",
        start: "top 95%",
        end: "bottom top",
      },
      y: (i, target) => -totalScroll * target.dataset.speed,
      ease: "none",
    });

    const elements: string[] = gsap.utils.toArray("[is-inview]");
    elements.forEach((elmt: string) => {
      gsap.to(elmt, {
        scrollTrigger: {
          trigger: elmt,
          start: "top 100%",
          end: "top top",
          onEnter: (elmt) => toggleClasses(elmt.trigger),
          once: true,
        },
      });
    });
    gsap.from(".pageTitle", {
      y: "100%",
      opacity: "0",
      duration: 0.8,
      delay: (i, target) => target.dataset.delay,
      ease: ease2,
    });
  });
</script>

<style lang="scss">
  @import "../stylesheet/main.scss";

  .taches {
    background-image: url("/images/GRAIN.png");
  }
  .page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $color_background;
  }
  .index {
    background-image: url("/images/fond-test-accueil.png");
  }
  .about {
    background-image: url("/images/fond-about.png");
  }
  .work {
    background-image: url("/images/fond-work.png");
  }
</style>
